@{
    ViewBag.Title = "Home Page";
}

<style>
    body{
        background-color:lightblue
    }
</style>

    <div class="jumbotron">
        <h1>You Need To Close</h1>
        <p class="lead">You Need To Close will aid and motivate sales representatives to reach their income goals on a month-to-month basis.</p>
        <p>
            @Html.ActionLink("Let's Get Started", "ProjectedGoal", new { id = 1 }, new { @class = "btn btn-info" })
        </p>
    </div>
